// table
.el-table {
  color: $font-color-grey2;
}

.el-table th,
.el-table td {
  padding: 4px !important;
  font-size: 12px !important;
}
.el-table::before {
  height: 0 !important;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: $playlist-hover-bgcolor !important;
  color: #000000;
}
// 空数据
.el-table__empty-block {
  background: $bg-color;
  color: $font-color;
}
.el-table__header-wrapper th {
  color: $font-color;
}
.el-table {
  background-color: #ffffff !important;
}

// 表格单元格的通用样式
@mixin el-td-style($color) {
  td,
  th,
  tr {
    background-color: $color !important;
    transition: background-color 0s !important;
    border-bottom: none !important;

    .cell {
      white-space: nowrap !important;
    }
  }
}
.el-table,
.el-table {
  @include el-td-style($white);

  tr.el-table__row--striped {
    @include el-td-style($stripe-bg);
  }
}
// 允许外部在某个类下面覆写table样式
@mixin el-table-theme($color, $stripe-color: $stripe-bg) {
  &::v-deep .el-table {
    @include el-td-style($color);

    tr.el-table__row--striped {
      @include el-td-style(#{$stripe-color});
    }
  }
}

// popover
.el-popover {
  border: none !important;
  @include box-shadow;
  min-width: 0px;
}

// el-menu
.el-menu {
  border: none !important;
}
.el-menu-item.is-active {
  border: none !important;
}

// input
$input-height: 24px;
@mixin el-input-style($color, $bg-color, $placeholder-color) {
  .el-input__inner {
    height: $input-height !important;
    line-height: $input-height !important;
    background: #{$bg-color} !important;
    border: none !important;
    color: #{$color} !important;

    &:hover {
      border: none !important;
    }
  }
  .el-input__prefix {
    i {
      line-height: $input-height + 1px !important;
      color: #{$color} !important;
      transition: none !important;
    }
  }

  input::-webkit-input-placeholder {
    color: #{$placeholder-color} !important;
  }
}

// 外部覆写input-theme样式
@mixin el-input-theme($color, $bg-color, $placeholder-color: $color) {
  /deep/.el-input {
    @include el-input-style($color, $bg-color, $placeholder-color);
  }
}

.el-input {
  @include el-input-style($input-color, $input-bgcolor, $font-color-grey-shallow);
}

// pagination
.el-pagination,
.el-pagination button,
.el-pager li {
  font-weight: normal;
  border-radius: 5px !important;

  .btn-prev,
  .btn-next {
    background-color: #ffffff !important;
    border: 1px solid $font-color-white !important;

    &:hover {
      background-color: #eeeded !important;
    }
  }

  .btn-quickprev,
  .btn-quicknext,
  .number:not(.active) {
    background-color: #ffffff !important;
    border: 1px solid $font-color-white !important;
    color: #606266 !important;

    &:hover {
      background-color: #eeeded !important;
    }
  }

  .active {
    background-color: $theme-color !important;
    color: #ffffff !important;
  }
}

// dialog
.el-dialog {
  background: $modal-bg-color !important;
  min-width: 400px;
  @include box-shadow;

  .el-dialog__body {
    color: $font-color !important;
  }

  // 右上角图标
  .el-dialog__headerbtn:focus .el-dialog__close,
  .el-dialog__headerbtn:hover .el-dialog__close {
    color: $theme-color;
  }
}

.user-avatar-menu {
  li {
    &:hover {
      color: $black !important;
      background-color: $gray !important;
    }
  }
}

// el-poper-arrow
.popper__arrow {
  visibility: hidden;
}

// button
.el-button--primary {
  background-color: $theme-color !important;
  border-color: $theme-color !important;

  &:hover {
    background-color: #9645ff !important;
    border-color: #9645ff !important;
  }
}

// loading
.el-loading-spinner {
  circle {
    stroke: $theme-color !important;
  }
  .el-loading-text {
    color: $theme-color !important;
  }
  .el-icon-loading {
    color: $theme-color !important;
  }
}
